@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ede9f4;
}

.form {
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
}

.form-title{
    margin-top: -20px;
    margin-left: -20px;
    width: 649px;
    background-color: #673ab7;
    color: white;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
  }

.form h2 {  
    margin-top: 18px;
    font-weight: 400;
    font-size: 30px;
}

.form p {
    font-size: 14px;
    background-color: #673ab7;
}

.note-title {
    background-color: #673ab7;
    color: white;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}


.note-description {
    padding: 0px 30px 30px 30px;
}

.note {
    margin: 20px auto;
    background-color: white;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
}

.note input {
    border-width: 0 0 1px;
    font-size: 14px;
    outline: 0;
    width: 300px;
    padding: 5px;
    border-width: 0 0 1px;
    border-color: #e0dada;
}

.description {
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
}

.description input {
    border-width: 0 0 1px;
    font-size: 14px;
    outline: 0;
    width: 100%;
    padding: 5px;
    border-width: 0 0 1px;
    border-color: #e0dada;
}

.document {
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
}

.btn {
    margin: 20px auto;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
}

.btna button{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border-color: #c1bebe;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-weight: 500;
  cursor: pointer;
}

.btnb button{    
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: #673ab7;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border-color: #673ab7;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-weight: 500;
  cursor: pointer;
}

.filenameupload {
    width: 98%;
  }
  
  #upload_prev {
    border: none;
    width: 100%;
    margin-left: -20px;

    padding: 0.5em 1em 1.5em 1em;
  }
  
  #upload_prev span {
    display: flex;
    padding: 0 5px;
    font-size: 12px;
  }

  .btndesign{
    font-family: 'Inter', sans-serif;
    position: static;
    text-align: center;
    border: 1px;
    border-color: #e0dada;
    border-width: 1px 1px 1px 1px;
    border-style: solid;    background-color: white;
    width: 100px;
    height: 32.5px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
}

.upload{
    position: static;
    width: 100px;
    height: 25px;
    margin-left: -130px;
    transform: scale(1.5);
    opacity: 0;
}

.attach {
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
}


.request{
    margin: 20px auto;
    background-color: white;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
    padding: 30px;
}

.checkbox{
    font-size: 14px;
    margin-left: -12px;

}

.request input{
    border-width: 0 0 1px;
    outline: 0;
    width: 300px;
    padding: 5px;
    border-width: 0 0 1px;
    border-color: #bbb;
}

input[type=checkbox] + label{
    display: block;
    justify-content: space-between;
    margin: 1em;
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label:before{
    content: "\2714";
    border: 2px solid #5f6368;
    border-radius: 3px;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before{
    transform: scale(0);
}

input[type=checkbox]:checked + label::before{
    background-color: #673ab7;
    border-color: #673ab7;
    color: #fff;
}
.date{
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
    line-height: 30px;
}

.date input{
    border-width: 0 0 1px;
    font-size: 14px;
    outline: 0;
    width: 100%;
    padding: 5px;
    border-width: 0 0 1px;
    border-color: #e0dada;
}
.date-font{
    color:#8e8e8e;
    font-size: 12px;
} 

input[type=date]{
    margin-left: -2.5px;
    font-family: 'Inter', sans-serif;
    width :140px;
}

.ques {
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
  }
  
  .ques input {
    border-width: 0 0 1px;
    font-size: 14px;
    outline: 0;
    width: 100%;
    padding: 5px;
    border-width: 0 0 1px;
    border-color: #e0dada;
  }


.screenshot {
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    max-width: 650px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e0dada;
    border-radius: 10px;
}
