@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ede9f4;
}

.form {
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  max-width: 650px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e0dada;
  border-radius: 10px;
}

.form-title{
  margin-top: -20px;
  margin-left: -20px;
  width: 649px;
  background-color: #673ab7;
  color: white;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.form h2 {
  margin-top: 18px;
  font-weight: 400;
  font-size: 30px;
}

.form p {
  font-size: 14px;
}

.next button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border-color: #c1bebe;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-weight: 500;
  cursor: pointer;
}


.next {
  margin: 20px auto;
  max-width: 650px;
}